@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,700&family=Raleway:wght@900&display=swap');

/* Search */
body {
    /* background-color: #eee; */
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

#local-places {
    background-color: #eee;
}


.height {
    height: 100vh;
}


.search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);

}

.search input {

    height: 40px;
    text-indent: 25px;
    border: 2px solid #d6d4d4;


}


.search input:focus {

    box-shadow: none;
    border: 2px solid blue;


}

.search .fa-search {

    position: absolute;
    top: 13px;
    left: 16px;

}

.search button {

    position: absolute;
    top: 2px;
    right: 4px;
    height: 35px;
    width: 110px;
}

/* Google Maps */
#map {
    height: 100%;
}

/* Data Cards  */
.card-img-top {
    width: 100%;
    height: 20vh;
    object-fit: cover;
}

.card-icon {
    width: 10%
}

/* Cocktail View */

.cocktail-image {
    height: 70vh;
    object-fit: cover;
}

#recipe {
    background: aliceblue;
    padding: 0 15px 15px 15px;
}

/* Popular */
.pop-image {
    height: 30vh;
    object-fit: cover;
}

.hide {
    display: none;
}

.show {
    display: block;
}

/* Footer */
svg {
    fill: #6c757d;
}

footer .border-top {
    border-color: #6c757d !important;
}


/* Setting  */
#favoriteCocktils-button:hover,
#settings-button:hover {
    cursor: pointer;
    color: #ffbb33
}

#close-button:hover,
#save-button:hover {
    color: #ffbb33
}

/* Recommended */
.recommended-view:hover {
    color: #ffbb33;
    cursor: pointer
}

#addFave:hover {
    color: green;
    cursor: pointer;
}